html {
  font-size: 14px;
}
body {
  margin: 0;
  padding: 0;
  // height: 100vh;
  // width: 100vw;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
}
.card{
  padding:2rem;
  
}
::-webkit-scrollbar {
  height: 0.3rem;
  width: 0.3rem;
}
::-webkit-scrollbar-thumb {
  --tw-border-opacity: 1;
  background-color: var(--gray-500);
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  border-radius: 9999px;
  border-width: 1px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 9999px;
}