.doctor-patient-card {
  width: 40vw;
  height: 35vh;
  .p-card.p-component {
    border: 1px solid lightgrey;
  }

  img {
    height: 100px;
    width: auto;
  }
  .p-card-content {
    display: flex;
    justify-content: center;
  }
}

.card.doctor-patient-card {
  padding: 0;
}
